In [35]:
import numpy as np
import pandas as pd
import nltk
import unidecode

from nltk import tokenize

def pretty_print_tweet(item):
    print(item.Classificacao.ljust(10) + ":\t" + item.Text[0:60] + "...")

In [6]:
df = pd.read_csv('data/Tweets_Mg.csv', encoding='utf-8')
df_orig = df
df.head(1)

,Unnamed: 0,Created At,Text,Geo Coordinates.latitude,Geo Coordinates.longitude,User Location,Username,User Screen Name,Retweet Count,Classificacao,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,0,Sun Jan 08 01:22:05 +0000 2017,���⛪ @ Catedral de Santo Antônio - Governador ...,NaN,NaN,Brasil,Leonardo C Schneider,LeoCSchneider,0,Neutro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.loc[[1,10,30]]

,Unnamed: 0,Created At,Text,Geo Coordinates.latitude,Geo Coordinates.longitude,User Location,Username,User Screen Name,Retweet Count,Classificacao,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
1,1,Sun Jan 08 01:49:01 +0000 2017,"� @ Governador Valadares, Minas Gerais https:/...",-41.9333,-18.85,NaN,Wândell,klefnews,0,Neutro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,Mon Jan 09 15:09:31 +0000 2017,"""Daí a gente visita governador valadares""\n""Qu...",NaN,NaN,error 404 location not found,gambim,marina_gambim,0,Neutro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,30,Fri Jan 06 11:02:14 +0000 2017,#beta #betalab #mg Afiliada da Globo: Apresent...,NaN,NaN,NaN,Guilherme # Beta,guilhermecorde,0,Neutro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8199 entries, 0 to 8198
Data columns (total 26 columns):
Unnamed: 0                   8199 non-null int64
Created At                   8199 non-null object
Text                         8199 non-null object
Geo Coordinates.latitude     104 non-null float64
Geo Coordinates.longitude    104 non-null float64
User Location                5489 non-null object
Username                     8199 non-null object
User Screen Name             8199 non-null object
Retweet Count                8199 non-null int64
Classificacao                8199 non-null object
Observação                   1 non-null object
Unnamed: 10                  0 non-null float64
Unnamed: 11                  0 non-null float64
Unnamed: 12                  0 non-null float64
Unnamed: 13                  0 non-null float64
Unnamed: 14                  0 non-null float64
Unnamed: 15                  0 non-null float64
Unnamed: 16                  0 non-null float64
Unnamed: 17                  0 non-null float64
Unnamed: 18                  0 non-null float64
Unnamed: 19                  0 non-null float64
Unnamed: 20                  0 non-null float64
Unnamed: 21                  0 non-null float64
Unnamed: 22                  0 non-null float64
Unnamed: 23                  0 non-null float64
Unnamed: 24                  0 non-null float64
dtypes: float64(17), int64(2), object(7)
memory usage: 1.6+ MB

## Remover as colunas que não serão utilizadas

In [11]:
df = df[['Text','Classificacao']]
df.head()

                                                Text Classificacao
0  ���⛪ @ Catedral de Santo Antônio - Governador ...        Neutro
1  � @ Governador Valadares, Minas Gerais https:/...        Neutro
2  �� @ Governador Valadares, Minas Gerais https:...        Neutro
3                        ��� https://t.co/BnDsO34qK0        Neutro
4  ��� PSOL vai questionar aumento de vereadores ...      Negativo

In [14]:
for i in range(10):
    pretty_print_tweet(df.loc[i])

Neutro    :	���⛪ @ Catedral de Santo Antônio - Governador Valadares/MG h...
Neutro    :	� @ Governador Valadares, Minas Gerais https://t.co/B3ThIDJC...
Neutro    :	�� @ Governador Valadares, Minas Gerais https://t.co/dPkgzVR...
Neutro    :	��� https://t.co/BnDsO34qK0...
Negativo  :	��� PSOL vai questionar aumento de vereadores e prefeito de ...
Neutro    :	" bom é bandido morto"
Deputado Cabo Júlio é condenado e fic...
Neutro    :	"..E 25% dos mineiros dizem não torcer para time nenhum,mesm...
Neutro    :	"A gigantesca barba do mal" em destaque no caderno Cultura d...
Negativo  :	"BB e governo de Minas travam disputa sobre depósitos judici...
Neutro    :	"com vcs bh fica pequena!" Belo Horizonte (pron. [bɛloɾiˈzõn...

## Contagem do número de tweets por categoria

In [15]:
df.groupby('Classificacao').count()

               Text
Classificacao
Negativo       2446
Neutro         2453
Positivo       3300

## Separar os elementos baseado na classificação

In [17]:
df_neg = df.query('Classificacao == "Negativo"')
df_pos = df.query('Classificacao == "Positivo"')
df_neu = df.query('Classificacao == "Neutro"')

## Negativos

In [18]:
for i in range(5):
    pretty_print_tweet(df_neg.reset_index().loc[i])

Negativo  :	��� PSOL vai questionar aumento de vereadores e prefeito de ...
Negativo  :	"BB e governo de Minas travam disputa sobre depósitos judici...
Negativo  :	"erro desconhecido" é mato! Aliás, é da secretaria estadual ...
Negativo  :	"Mesmo sem muito dinheiro no caixa o governo de Minas Gerais...
Negativo  :	"uso de aeronave pertencente ao  Estado de MG, em domingo, p...

## Positivos

In [19]:
for i in range(5):
    pretty_print_tweet(df_pos.reset_index().loc[i])

Positivo  :	#DefesaAgropecuária "Governo de Minas Gerais aposta nos Arra...
Positivo  :	#EBC Governo de Minas investiga casos suspeitos de febre ama...
Positivo  :	#Minas vai dobrar oferta de trabalho e estudo nos #presídios...
Positivo  :	#Minas vai dobrar oferta de trabalho e estudo nos #presídios...
Positivo  :	#SUS Minas Gerais recebe recurso máximo disponibilizado pelo...

## Neutros

In [20]:
for i in range(5):
    pretty_print_tweet(df_neu.reset_index().loc[i])

Neutro    :	���⛪ @ Catedral de Santo Antônio - Governador Valadares/MG h...
Neutro    :	� @ Governador Valadares, Minas Gerais https://t.co/B3ThIDJC...
Neutro    :	�� @ Governador Valadares, Minas Gerais https://t.co/dPkgzVR...
Neutro    :	��� https://t.co/BnDsO34qK0...
Neutro    :	" bom é bandido morto"
Deputado Cabo Júlio é condenado e fic...

# Pre-processamento dos tweets

A funcao `remover_acentos` é aplicada a cada tupla do DataFrame na coluna text, usando a função `apply`.

In [22]:
def remover_acentos(texto):
    return unidecode.unidecode(texto)

In [23]:
df.Text = df.Text.apply(remover_acentos)

In [24]:
for i in range(10):
    pretty_print_tweet(df.loc[i])

Neutro    :	[?] @ Catedral de Santo Antonio - Governador Valadares/MG ht...
Neutro    :	 @ Governador Valadares, Minas Gerais https://t.co/B3ThIDJCS...
Neutro    :	 @ Governador Valadares, Minas Gerais https://t.co/dPkgzVR2Q...
Neutro    :	 https://t.co/BnDsO34qK0...
Negativo  :	 PSOL vai questionar aumento de vereadores e prefeito de BH ...
Neutro    :	" bom e bandido morto"
Deputado Cabo Julio e condenado e fic...
Neutro    :	"..E 25% dos mineiros dizem nao torcer para time nenhum,mesm...
Neutro    :	"A gigantesca barba do mal" em destaque no caderno Cultura d...
Negativo  :	"BB e governo de Minas travam disputa sobre depositos judici...
Neutro    :	"com vcs bh fica pequena!" Belo Horizonte (pron. [belori'zon...

- Remoção de endereço de website
- remoção de caracteres que não são letras, numeros, espaços , virgulas ou pontos

In [25]:
regex_to_replace = {r'https?:\/\/.*[\r\n]*':'', '[^a-zA-Z0-9\s,.]+' : ''}

In [26]:
df.Text = df.Text.replace(regex_to_replace, regex = True)

In [27]:
for i in range(10):
    pretty_print_tweet(df.loc[i])

Neutro    :	  Catedral de Santo Antonio  Governador ValadaresMG ...
Neutro    :	  Governador Valadares, Minas Gerais ...
Neutro    :	  Governador Valadares, Minas Gerais ...
Neutro    :	 ...
Negativo  :	 PSOL vai questionar aumento de vereadores e prefeito de BH ...
Neutro    :	 bom e bandido morto
Deputado Cabo Julio e condenado e fica ...
Neutro    :	..E 25 dos mineiros dizem nao torcer para time nenhum,mesmo ...
Neutro    :	A gigantesca barba do mal em destaque no caderno Cultura do ...
Negativo  :	BB e governo de Minas travam disputa sobre depositos judicia...
Neutro    :	com vcs bh fica pequena Belo Horizonte pron. belorizontSi10 ...

## Remoção de Stopwords

In [29]:
def remove_stopwords(sentence, language="portuguese"):
    from nltk.corpus import stopwords
    #Split sentence into words
    words = sentence.split(' ')
    #Get the stopwords
    stopwords = stopwords.words(language)
    words_new = [word for word in words if word not in stopwords]
    #impode words into a sentence and return
    return ' '.join(words_new)

In [30]:
df['Text'] = df['Text'].apply(remove_stopwords)

In [31]:
for i in range(10):
    pretty_print_tweet(df.loc[i])

Neutro    :	  Catedral Santo Antonio  Governador ValadaresMG ...
Neutro    :	  Governador Valadares, Minas Gerais ...
Neutro    :	  Governador Valadares, Minas Gerais ...
Neutro    :	 ...
Negativo  :	 PSOL vai questionar aumento vereadores prefeito BH Justica ...
Neutro    :	 bom bandido morto
Deputado Cabo Julio condenado fica ineleg...
Neutro    :	..E 25 mineiros dizem nao torcer time nenhum,mesmo dentro es...
Neutro    :	A gigantesca barba mal destaque caderno Cultura Estado Minas...
Negativo  :	BB governo Minas travam disputa sobre depositos judiciais ...
Neutro    :	vcs bh fica pequena Belo Horizonte pron. belorizontSi10 capi...

## Aplicação de Stemmings

In [32]:
def stem_sentence(sentence, language = "portuguese"):
    from nltk.stem.snowball import SnowballStemmer
    words = sentence.split(' ')
    #Stem words
    stemmer = SnowballStemmer(language)
    words_stem = [stemmer.stem(word) for word in words]
    #impode words into a sentence and return
    return ' '.join(words_stem)

In [33]:
df['Text'] = df['Text'].apply(stem_sentence)
for i in range(10):
    pretty_print_tweet(df.loc[i])

Neutro    :	  catedral sant antoni  govern valadaresmg ...
Neutro    :	  govern valadares, min ger ...
Neutro    :	  govern valadares, min ger ...
Neutro    :	 ...
Negativo  :	 psol vai question aument vereador prefeit bh justic  polit ...
Neutro    :	 bom band morto
deput cab juli conden fic inelegivel 10 anos...
Neutro    :	..e 25 mineir diz nao torc tim nenhum,mesm dentr estad atlet...
Neutro    :	a gigantesc barb mal destaqu cadern cultur estad minas. ...
Negativo  :	bb govern min trav disput sobr deposit judic ...
Neutro    :	vcs bh fic pequen bel horizont pron. belorizontsi10 capital ...

## Contagem de Termos Antes / Depois do Pré-Processamento
- Usamos uma função que explora a coluna que contém os textos, separa cada sentença em palavras, e retorna o conjunto (sem repetições) de palavras.

In [39]:
from itertools import chain
def get_word_set(sentences):
    words_for_sentence =  [sentence.split(' ') for sentence in sentences]
    flatten_list = list(chain(*words_for_sentence))
    word_set = set (flatten_list)
    return word_set

In [41]:
word_set_orig = get_word_set(df_orig.Text)
print('Número de Termos: ', len(word_set_orig))

Número de Termos:  16271

In [42]:
word_set = get_word_set(df.Text)
print('Número de Termos: ', len(word_set))

Número de Termos:  6639

In [43]:
ratio = 1 - len(word_set)/len(word_set_orig)
print("A redução de número de termos foi de {:.2f}%".format(ratio*100))

A redução de número de termos foi de 59.20%